@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #151515;
}

/* HEADER SECTION */

header {
  padding: 0.4em;
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 24rem;
  height: 5rem;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-family: "Teko", sans-serif;
  color: #039edc;
}

.logo-container img {
  height: 100%;
}

.profile-container {
  border: 1px solid rgba(231, 227, 252, 0.23);
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4em;
  color: #fff;
  background-color: #039edc;
}

.profile-content {
  display: flex;
  width: 100%;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.profile-nama {
  margin-bottom: 0.7rem;
}

.profile-nama,
.profile-jabatan {
  border-bottom: 2px solid #2a2a2a;
}

.profile-nama input,
.profile-jabatan input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  height: 1.8em;
  font-weight: 700;
  color: #fff;
  margin-left: 0.2rem;
}

/* HEADER SECTION END */

/* MAIN SECTION */

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.add-content {
  gap: 2rem;
  border: 1px solid #151515;
  align-items: center;
  background-color: #fff;
}

.add-content h6 {
  font-size: 1rem;
}

.add-task,
.add-level {
  border: 1px solid #151515;
  background-color: #039edc;
  border-radius: 0.5rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-task input,
.add-level label {
  background-color: #fff;
  border: 1px solid #151515;
  border-radius: 0.5rem;
  text-align: center;
  height: 2rem;
  min-width: 15rem;
}

.add-level select {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
}

select {
  font-size: 1rem;
}

.add-task input::placeholder {
  color: #2a2a2a;
  opacity: 75%;
}

.add-content button {
  background-color: #039edc;
  border: 1px solid #151515;
  border-radius: 0.7rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.add-container,
.todo-container,
.done-container {
  border: 1px solid #151515;
  border-radius: 1rem;
  background-color: #039edc;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-container,
.done-container {
  width: 100%;
}

.todo-container h2,
.done-container h2 {
  font-family: "Teko", sans-serif;
  font-size: 3.5rem;
}

.todo-header,
.done-header {
  display: flex;
  border-bottom: 2px solid #151515;
  width: 100%;
  padding: 0.5rem;
}

.todo-header-title,
.done-header-title {
  display: flex;
  gap: 1rem;
}

.todo-header-title img,
.done-header-title img {
  width: 4.5rem;
}

.add-content {
  display: flex;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#todo,
#done {
  width: 40%;
}

#selectLevel {
  text-align: center;
  font-weight: bold;
}

.todo-content,
.done-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.todo-list,
.done-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.todo-list li,
.done-list li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dones {
  background-color: #79bcd7;
}

.dones .task,
.dones .level,
.dones .date,
.dones .deadline {
  background-color: #79bcd7;
  text-decoration: line-through;
  color: #2a2a2a;
}

.dones .delete-task {
  background-color: #b83e3e;
}

.todos,
.dones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  background-color: #fff;
}

.todos h6,
.dones h6 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
}

.delete-task,
.delete-all {
  min-width: 4rem;
  padding: 0.5rem;
  background-color: #c00000;
  border: 1px solid #151515;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #fff;
}

.todos button:hover,
.dones button:hover,
.delete-all:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.task-container {
  display: flex;
  text-align: center;
  gap: 1rem;
}

.task-container span {
  font-weight: 700;
}

.task,
.level,
.date {
  min-width: 10rem;
  border: 1px solid #151515;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: #039edc;
}

.task h6,
.level h6,
.date h6 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
}

.task span,
.level span,
.date span {
  font-family: "Montserrat", sans-serif;
}

/* MAIN SECTION END */
@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  header {
    width: 100%;
    padding: 1rem;
  }

  header .profile-container {
    width: 50%;
  }

  .profile-nama {
    width: 18rem;
  }

  .profile-nama input {
    width: 83%;
  }

  .profile-jabatan input {
    width: 77%;
  }

  .add-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .add-task input,
  .add-level label {
    height: 3rem;
    width: 25rem;
  }

  .btn-add button {
    width: 15rem;
    font-size: 2rem;
    padding: 1rem;
  }

  #todo {
    padding: 0;
  }

  .todo-content {
    padding: 0;
  }

  .todos,
  .dones {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }

  .task,
  .level,
  .date,
  .delete-task {
    max-width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
  }

  input[type="checkbox"] {
    margin-bottom: 0.5rem;
  }

  .delete-task {
    max-width: 7rem;
    margin-left: 26rem;
    margin-top: 0.5rem;
  }

  #todo,
  #done {
    width: 100%;
  }
}
